.container {
  border: 2px solid cornflowerblue;
  margin: 100px auto;
  width: 480px;
  min-height: 600px;
  padding: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  font-size: 20px;
  color: royalblue;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0;
}

.input {
  width: 80%;
  height: 30px;
  background-color: transparent;
}

.form .input {
  border: none;
  border-bottom: 1px solid royalblue;
  padding-left: 12px;
  font-size: 18px;
  outline: none;
}

.todoList .item{margin: 20px 0;}

.form .btn {
  width: 15%;
}

.btn {
  width: 80px;
  height: 40px;
  padding: 0 10px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
}

.btn-left{display: inline-flex; margin-right: 20px;}

.todoList {
  height: 500px;
  overflow-y: auto;
}

ul { margin: 0; padding: 0; }

.todoItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 0;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
}

.todoItem .item {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* 체크박스 */
.todoItem input {
  display: none;
}
